<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<!-- BEGIN HEADER  CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER  CONTENT DIVIDER -->
<head th:include="master::head">
    <title>首页</title>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index">
                <img src="assets/layouts/layout/img/logo-ha.png" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler"></div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse"> </a>
    </div>

    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="assets/admin/layout/img/smile.png"/>
					<span class="username username-hide-on-mobile">
					Pnc </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="extra_profile">
                            <i class="icon-user"></i> 个人主页 </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="login">
                            <i class="icon-key"></i> 注销 </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="javascript:" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler"></div>
                </li>
                <li class="nav-item start  ">
                    <a href="index.html" >
                        <i class="icon-diamond"></i>
                        <span class="title">Dashbord</span>
                    </a>
                </li>
                <li class="nav-item start">
                    <a href="javascript:" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">调度配置</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="projectManagement" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Project</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="flowManagement" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Flow</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="nodeManagement" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Node</span>
                                <span class="selected"></span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item start  ">
                    <a href="javascript:" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">作业管理</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="viewPlannedJobs" class="nav-link ">
                                <i class="icon-docs"></i>
                                <span class="title">计划中作业列表</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="viewRunningJobs" class="nav-link ">
                                <i class="icon-docs"></i>
                                <span class="title">运行中作业列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item start  ">
                    <a href="javascript:" class="nav-link nav-toggle">
                        <i class="icon-bar-chart"></i>
                        <span class="title">系统管理</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a href="parameterManagement" class="nav-link ">
                                <i class="icon-docs"></i>
                                <span class="title">参数配置</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a href="dictionaryManagement" class="nav-link ">
                                <i class="icon-docs"></i>
                                <span class="title">字典配置</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <iframe id="contextFrame" style="width:100%;min-height: 630px;border: none" src=""/>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $(".sub-menu").on("click", ".nav-link", null, function (evt) {
            window.event ? window.event.returnValue = false : evt.preventDefault();

            var url = $(this).attr("href");
            if (url.indexOf("?") > 0) url += "&" + Date.parse(new Date());
            else url += "?" + Date.parse(new Date());
            document.getElementById('contextFrame').src = url;
            $("#pageTitle").text($(this).find("p").text());

            return false;
        });
        $(".active a").click();
    });
    /*]]>*/
</script>

</body>
</html>





